body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4 !important;
  /* color:; */
}
.gradient-background {
  background: linear-gradient(300deg, white, rgb(167, 88, 199), white);
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  background-color: purple;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

#about p {
  letter-spacing: 0.5px;
  font-weight: 500;
  font-family: serif;
  font-size: larger;
  font-style: italic;
}
section {
  padding: 2rem;
  margin: 1rem;
  max-width: 1000px;
  background-color: #f4f4f423;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px black;
}

section h2 {
  border-bottom: 2px solid #282828;
  padding-bottom: 0.5rem;
  color: purple;
}

#skills ul li {
  margin-bottom: 0.5rem;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.project {
  border: 3px solid #000000;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(128, 0, 128, 0);
}

.project img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.project h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.project p {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: purple;
  color: #eeeeee;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: 550;
  box-shadow: 2px 2px 2px snow;
}

.btn:hover {
  background-color: rgb(163, 46, 206);
  color: #010101;
}

@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 1rem 0;
  }
}

@media (max-width: 735px) {
  .project {
    text-align: center;
    position: relative;
    justify-content: center;
    width: 50%;
    margin: auto;
  }
}

.one > img {
  filter: blur(3px);
}

section {
  font-weight: bold;
}

.bg {
  color: purple;
}
